* {font-family:Helvetica;}
				html {padding:0;margin:0;}
				body {background:#F0F0F0;padding:0;margin:0;background-image: linear-gradient(175deg,#F0F0F0 40%, #c92d39 40.1%,#c92d39 60%, #F0F0F0 60.1%);background-attachment: fixed;}
				header {text-align:center;font-weight:bold;padding:30px;color:#c92d39;font-size:20pt;}
				header .header-logo {margin:10px auto;height:300x;}
				a, a:active, a:visited {color:#c92d39;}
				.hidden {display:none;}
				.table	{display:table;}
				.table-row	{display:table-row;}
				.table-cell	{display:table-cell;}
				
				.content {width: 980px;margin : 10px auto;border: 4px solid #c92d39;padding: 20px 20px;border-top:0;border-bottom:0;border-radius:5px;box-sizing: border-box;background:#F9F9F9;box-shadow:1px 1px 3px #000;}
					.introduction {margin: 20px 0 20px 0;}
					.inscription {margin: 20px 0;}
					.form {padding:10px;text-align:center;}
					.form input {width:20%;border:2px solid #c92d39;padding:10px;background:#FFFFFF;color:#c92d39;border-radius:5px;}
					.form input[type=submit] {background:#c92d39;color:#FFFFFF;cursor:pointer;}
					.form input[type=submit]:hover {cursor:pointer;background:#FFFFFF;color:#c92d39;}
					
					.control-panel {text-align:left;font-size:8pt;margin-top:20px;border-top: 2px dashed #c92d39;padding-top:30px;}
					.control-panel a {margin-right:10px;padding:3px 7px;border-radius:5px;text-decoration:none;}						
						a.filter-shown, a.filter-shown:visited, a.filter-shown:active 	{border:1px solid #c92d39;font-weight:bold;background:#c92d39;color:white;}
						a.filter-hidden,a.filter-hidden:visited,a.filter-hidden:active	{border:1px solid grey;background:white;color:#c92d39;}
				
					.unlocked input {opacity:.3;border:0;background:#rgba:0000}
					
					.card {display:table;width:100%;margin:3px auto;border-spacing: 5px;border-collapse: separate;box-sizing: border-box;border-radius:5px;border:2px solid transparent;z-index:1;transition:all .5s}
						.cell 					{display:table-cell;padding:5px 2px;text-wrap:normal;word-wrap:break-word;vertical-align:middle;}
						.cell:not(:last-child) 	{border-right:2px solid #c92d39;}
						.date 					{width:20%;}
						.date .date-first-line	{font-size:80%;}
						.date .date-second-line	{}
						.inscrits 				{width:60%;font-size:80%;}
						.inscrits span.inscrit	{margin-left:5px;}
						.inscrits span.inscrit:not(:last-child) {border-right:1px solid grey;padding-right:5px;}
						.places 				{width:5%;font-weight:bold;text-align:center;padding:0 5px 0 5px;}
							.places .text-places-restantes {font-size:70%;color:grey;}
						.check 					{width:15%;font-size:90%;}
						.cmoi 					{font-weight:bold;color:white;background:#c92d39;padding:5px;border-radius:5px;}
						.check a, .check a:active,.check a:visited {display:block;background:#c92d39;border-radius:5px;color:white;text-align:center;padding:5px;text-decoration:none;font-weight:bold;border:1px solid transparent;}
						.check a.insc-insc {}
						.check a.insc-desinsc {background:white;color:#c92d39;border:1px solid #c92d39;font-size:8pt;}
						.check a.insc-listeattente {background:#5861D8;font-size:8pt;}
						.check a.insc-listeattente-me {background:white;border:1px solid #5861D8;color:#5861D8;font-size:8pt;}
						.check a:hover {transition: all .7s; box-shadow: inset -20em 0 0 0 #00000050;}
						
						.date-jour-type {font-weight:bold;}
						.date-jour		{font-weight:bold;color:#c92d39}
						.date-mois 		{font-weight:bold;color:#c92d39}						
						.date-annee		{}
						.date-heure		{font-weight:bold;color:#c92d39}
						
						.waitingListIntro {font-size:7pt;color:grey;}
						
						
					.card.Lundi		{}
					.card.Mercredi	{}
					.card.Vendredi	{}
					.card.type1		{background:transparent;}
					.card.type2		{background:#F0F0F0FA;}
					
					
					.card.inscFull 	{background:transparent;opacity:80%;}
					.card.inscMe 	{background:#c92d3905;border:2px solid #c92d3910; border-left:5px solid #c92d39;}
						
					.card:hover 							{transition: all .4s;border:2px solid #c92d39;border-left:5px solid #c92d39;transition: all .5s;}
					.card:not(.inscMe):hover				{border:2px solid #c92d39;}
						.card:hover .cell					{transition: all .4s}
						.card:hover	.cell:not(:last-child) 	{border-right:2px solid grey;}
					.card:hover .cell a,.card:hover .cell a:active, .card:hover .cell a:visited {}
					
				
					.notice {background:#F2F2F2;border:1px solid #000;border-radius:5px;margin:20px auto;padding:20px;box-sizing:border-box;font-size:80%;}
						.notice .table {display:table;width:100%;border-collapse: separate;box-sizing: border-box;border-spacing:10px;}
						.notice .check {display:table-cell;width:150px;border-collapse: separate;box-sizing: border-box;border-spacing:10px;}
						.notice .table-cell {font-size:90%;}

					
						
				hr.fancy-line {border: 0;height: 1px;}
				hr.fancy-line:before {top: -0.5em;height: 1em;}
				hr.fancy-line:after {content:'';height: 0.5em; top:1px;}
				hr.fancy-line:before, hr.fancy-line:after {content: '';position: relative; width: 100%;}
				hr.fancy-line, hr.fancy-line:before {background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);}
				#bottom-line {margin-top:30px;}
				
				@media screen and (max-width: 1080px) {
				  .content {width:100%;padding:5px;}
				  .content .form input {display:block;width:85%;margin:10px auto;}
				  .card {width:98%;}
				  .header-logo {height:100px;}
				  .inscrits {font-size:50%;}				
				}